$mainGreen: rgb(33, 87, 50);
$lightGreen: rgba(33, 87, 50, 0.6);
body {
	font-color: #333;
	font-family: 'Roboto Slab', serif;
	background-color: #000;
}

img {
	max-width: 100%;
	height: auto;
}

.navbar {
    border-radius: 0px;
}
