@define-mixin atSmall {
	@media (min-width: 768px) {
		@mixin-content;
	}
}
@define-mixin atMedium {
	@media (min-width: 992px) {
		@mixin-content;
	}
}
@define-mixin atFlexCenter {
	@media (min-width: 991px) {
		display: flex;
		align-items: center;
	}
}
@define-mixin atLarge {
	@media (min-width: 1250px) {
		@mixin-content;
	}
}
@define-mixin atLaptop {
	@media (min-width: 991px) {
		@mixin-content;
	}
}

@media (max-width: 1000px) {
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .collapse.in{
        display:block !important;
    }
}
