/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

body {
	font-color: #333;
	font-family: 'Roboto Slab', serif;
	background-color: #000;
}

img {
	max-width: 100%;
	height: auto;
}

.navbar {
    border-radius: 0px;
}

@media (max-width: 1000px) {
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .collapse.in{
        display:block !important;
    }
}

.navbar {
  margin-bottom: 0px;
  min-height: 95px; 
}

.navbar-brand {
  margin: 8px 0 0 0;
  padding: 0; 
}

.navbar-nav li a {
  line-height: 55px;
  font-size: 18px;
}

.navbar-nav .fa {
  margin-right: 0;
}

.nav>li>a {
  padding: 10px 10px;
}

@media (max-width: 1200px) { 
	.navbar-collapse {
		border: none;
	}
}

#top-section {
/*	background-color: #3e3a30;
	overflow: hidden;*/
	position: relative;
}

#top-section__image {
  display: block;
}

.top-section--t-marg {
	margin-top: -35px;
}

@media (min-width: 992px) {

  .top-section--t-marg {
    margin-top: -50px;
  }
}

.top-section--body {
	margin-top: 20px;
	margin-bottom: 40px;
}

@media (min-width: 992px) {

  .top-section--body {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    margin: 20px 0 40px 0;
  }
}

@media (min-width: 1250px) {

  .top-section--body {
    top: 45%;
  }
}

@media (min-width: 991px) {

  .top-section--body {
    top: 60%;
  }
}

@media (min-width: 768px) {

}

.top-section--text {
	color: #fefefe;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-top: -100px;
}

.top-section--text h1 {
  font-size: 3rem;
}

@media (min-width: 768px) {

  .top-section--text h1 {
    color: #fefefe;
  }
}

@media (min-width: 992px) {

  .top-section--text h1 {
    color: #000;
    font-size: 4.2rem;
    font-weight: 300;
    margin-top: 100px;
    margin: 0.67em 0 0;
    padding-bottom: 1.6rem;
  }

  .top-section--text h1 span {
    font-weight: 700;
    font-size: 5rem;
  }
}

.top-section--text p {
  font-size: 2.25rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}

.top-section--text a {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {

  .top-section--text {
    font-size: 0.8rem;
  }
}

.top-section--video {
	/*margin-top: 40px;*/
	max-width: 480px;
	margin: 0 auto;
	margin-bottom: -25px;
	text-align: center;

}

.top-section--video video {
  width: 350px;
}

@media (min-width: 1250px) {

  .top-section--video {
    max-width: 600px;
  }
}

@media (min-width: 992px) {

  .top-section--video {
    margin-bottom: 100px;
  }

  .top-section--video video {
    width: 100%;
  }
}

#types-of-events {
	background: #fefefe;
	position: relative;

}

#types-of-events .type-of-events--image {
  position: relative;
}

@media (min-width: 992px) {

  #types-of-events .type-of-events--text {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background-color: rgba(231, 231, 231, 0.8);
    padding: 2rem;
  }
}

@media (min-width: 768px) {

  #types-of-events .type-of-events--text {
    font-size: 14px;
    padding: 0;
  }
}

#types-of-events .event-item-image {
  display: none;
}

@media (min-width: 992px) {

  #types-of-events .event-item-image {
    display: block;
  }
}

#types-of-events .main-btn {
  padding: 10px 15px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #215732;
  background: #f1f1f1;
  border-radius: 0;
  border: 2px solid #c0c0c0;
  -webkit-transition: background 2s, color 2s;
  transition: background 2s, color 2s;
}

#types-of-events .main-btn:hover {
  color: #f1f1f1;
  background-color: #1C5633;
  border: 2px solid #c0c0c0;
}

#types-of-events .event-item {
  border-bottom: 1px solid #999;
}

#types-of-events .event-item:last-child {
  border: none;
}

@media (min-width: 991px) {

  .feature-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#starter-sets {
  background-color: #b2bcbb;
  /*margin-top: -35px;*/
  overflow: hidden;
  padding-top: 55px;
  padding-bottom: 3rem;
}

.feature-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.feature {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    padding:  10px;
    height:  100%;
    min-height:  45vh;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #c8cfce;
}

.cont-p{
    font-size:60px;
    line-height:30px;
    font-weight:normal;
    display:table-cell;
    vertical-align:bottom;
    text-shadow: 1px 1px 1px #969696;
    padding-top:20px;
    margin: 0 auto;
}

.cont-p .p1{
    font-size:24px;
    line-height:26px;
    height:50px;
    float:left;
}

.cont-p .p2{
    font-size:60px;
    font-weight:bold;
    height:50px;
    line-height:50px;
    padding-left:2px;
    float:left;
}

.cont-p .p3{
    font-size:18px;
    font-weight:bold;
    line-height:22px;
    text-align:left;
    height:50px;
    padding-left:6px;
    float:left;
}

.cont-p .p4{
    font-size:13px;
    float:left;
}

.cont-c{
    color:#464646;      
    text-shadow: 0px 0px 0px;
}

a:hover .cont-c:hover{
    color:#215732;      
}

.c-price-title{
    font-family: 'Titillium Web', sans-serif;
    font-size:20px;
    color:#464646;
}

a:hover .c-price-title{
    color:#215732;
}

.price-list{
  font-size:15px;
  text-align:left;
  margin-top:15px;
}

.price-list li{
  line-height:25px;
  list-style:none;
}

.price-list li i{
  color:#7c7e7e !important;
  line-height:20px;
}

@media screen and (max-width: 768px) {
  .feature-row {
    display: block;
  }
}

.section--title {
	text-align: center;
}

.section--title h2 {
  font-size: 2.55rem;
  text-transform: uppercase;
}

@media (min-width: 992px) {

  .section--title h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 800;
  }

  .section--title p {
    font-size: 1.6rem;
  }
}

.section--title__green {
  color: #92ac76;
  text-transform: uppercase;
}

@media (min-width: 992px) {

}

.section--title__bg {
  padding-top: 20px;
}

.section--subtitle {
	font-size: 0.9rem;
}

@media (min-width: 992px) {

  .section--subtitle {
    font-size: 3.9rem;
  }
}

.section--b-marg {
	margin-bottom: 20px;
}

@media (min-width: 992px) {

  .section--b-marg-lg {
    padding-bottom: 40px;
  }
}

.section--t-marg {

}

.main-btn {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 0;
    -webkit-transition: background 2s, color 2s;
    transition: background 2s, color 2s;
}

@media (min-width: 992px) {

  .main-btn {/*padding: 20px 35px;*/
    font-size: 18px;
    margin-top: auto;
    color: #215732;
    background: #f1f1f1;
    border-radius: 0;
    border: 2px solid #c0c0c0;
    -webkit-transition: background 2s, color 2s;
    transition: background 2s, color 2s;
  }
}

.main-btn:focus,
.main-btn.focus {
    color: #1C5633;
    border-color: #1C5633;
}

.main-btn:hover {
    color: #f1f1f1;
    background-color: #1C5633;
    border: 2px solid #c0c0c0;
}

#why {
	background: #6f8856;
	border-top: 3px solid #a88d3d;
	border-bottom: 3px solid #a88d3d;
	color: rgba(0, 0, 0, 0.8);
	z-index: 999;
	position: relative;
}

@media (min-width: 992px) {

  #why {
    top: 35px;
  }
}

@media (min-width: 1250px) {

  #why {
    top: -10px;
    margin-bottom: -40px;
  }
}

#why img {
  margin-right: 30px;
}

#why p {
  font-size: 1.5rem;
}

@media (min-width: 992px) {

  #why p {
    font-size: 1.8rem;
  }
}

#why .why-image {
  position: relative;
}

/*		display: none;*/

@media (min-width: 992px) {

  #why .why-image {
    display: block;
    -webkit-filter: opacity(90%);
            filter: opacity(90%);
  }
}

@media (min-width: 992px) {

  #why .why-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background-color: rgba(137, 137, 137, 0.6);
  }
}

#why .events-bg {
  text-align: center;
}

@media (min-width: 1250px) {

  #why .events-bg {
    text-align: left;
    width: 800px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {

  #why .events-bg .why-event-item {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.6rem;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.why-events-mobile {
	display: block;
}

.why-events-mobile img {
  display: block;
}

#benefits {
	background-color: #3E3A30;
	padding-bottom: 0;
	padding-top: 2rem;
    color: #f7f7f7;
}

#benefits img {
  height: 56px;
  width: 56px;
}

.benefits-feature {
    text-align: center;
    padding: 15px 5px 0 5px;
    height:  100%;
    min-height: 25vh;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.benefits-feature h3 {
  font-size: 1.9rem !important;
}

.benefits-feature img {
  text-align: center;
}

footer {
	background: #999;
	padding: 2rem 0;
	font-size: 1.1rem;
}

footer a {
  color: rgb(33, 87, 50);
}

.reveal-item {
  opacity: 0;
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.reveal-item--is-visible {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.event-list {
	font-size: 16px;
	color: #215732;
}

.events {
	background-color: #fefefe;
	padding-bottom: 70px;

}

.color-green {
	color: #215732;
	font-style: italic;
}

.event-video-bg {
	margin: 0 auto;

}

.event-video-bg video {
  width: 350px;
  border: 2px solid black;
}

@media (min-width: 992px) {

  .event-video-bg video {
    width: 100%;
  }
}

#target-market {
	background-color: #3e3a30;
	border-bottom: 3px solid #a88d3d;
	padding: 4rem 0 3rem 0;
	text-align: center;
	position: relative;
}

#target-market img {
  height: 125px;
  margin-left: 15px;
}

#target-market p {
  color: #92ac76;
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 15px;
}

@media (min-width: 992px) {

  #target-market p {
    font-size: 1.8rem;
  }
}

#target-market h3 {
  color: #92ac76;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  border-top: 2px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3;
  padding: 3px 0;
}

#target-market .target-market-item p {
  font-size: 1.4rem;
}

#timeline-button {
  padding: 1.1rem 0 2rem 0;
  background: #fefefe;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#timeline-button .hp-timeline {
  font-size: 18px;
  padding: 0 10px;
  text-align: center;
}

@media (min-width: 992px) {

  #timeline-button .hp-timeline {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background: #fefefe;
  }
}

.events-timeline {
  padding-bottom: 75px;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------

Main components

-------------------------------- */

header {
  /*height: 200px;*/
  line-height: 200px;
  text-align: center;
/*  background: #303e49;*/
}

header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}

@media only screen and (min-width: 1170px) {
  header {
    /*height: 300px;*/
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.cd-timeline-img.cd-42d2db {
  background: #376746;
}

.cd-timeline-img.cd-e4d518 {
  background: #376746;
}

.cd-timeline-img.cd-ffa200 {
  background: #376746;
}

.cd-timeline-img.cd-ff4a0b {
  background: #376746;
}

.cd-timeline-img.cd-05a2ef {
  background: #376746;
}

.cd-timeline-img.cd-e0db06 {
  background: #376746;
}

.cd-timeline-img.cd-48c3d3 {
  background: #376746;
}

.cd-timeline-img.cd-ee4300 {
  background: #ee4300;
}

.cd-timeline-img.cd-376746 {
  background: #376746;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-content h2 {
  color: #303e49;
}

.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}

.cd-timeline-content ul {
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 200;
}

.cd-timeline-content ul li {
  padding-bottom: 8px;
}

.cd-timeline-content ul li span{
  color: #215732;
}

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (max-width: 768px) {
  .cd-timeline-content .cd-date {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.55rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1.5rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: -10px;
    font-size: 16px;
    font-size: 2.9rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
