#benefits {
	background-color: #3E3A30;
	padding-bottom: 0;
	padding-top: 2rem;
    color: #f7f7f7;
    img {
        height: 56px;
        width: 56px;
    }
}
.benefits-feature {
    text-align: center;
    padding: 15px 5px 0 5px;
    height:  100%;
    min-height: 25vh;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    h3 {
		font-size: 1.9rem !important;
    }
    img {
        text-align: center;
    }
}



