.main-btn {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 0;
    transition: background 2s, color 2s;
    @mixin atMedium {
        /*padding: 20px 35px;*/
        font-size: 18px;
        margin-top: auto;
        color: #215732;
        background: #f1f1f1;
        border-radius: 0;
        border: 2px solid #c0c0c0;
        transition: background 2s, color 2s;        
    }
}
.main-btn:focus,
.main-btn.focus {
    color: #1C5633;
    border-color: #1C5633;
}
.main-btn:hover {
    color: #f1f1f1;
    background-color: #1C5633;
    border: 2px solid #c0c0c0;
}