.event-list {
	font-size: 16px;
	color: #215732;
}
.events {
	background-color: #fefefe;
	padding-bottom: 70px;

}
.color-green {
	color: #215732;
	font-style: italic;
}
.event-video-bg {
	margin: 0 auto;
	
	video {
		width: 350px;
		border: 2px solid black;
	}
	@mixin atMedium {
		video {
		width: 100%;
		}
	}

}
