#top-section {
/*	background-color: #3e3a30;
	overflow: hidden;*/
	position: relative;
	&__image {
		display: block;
	}
}
.top-section--t-marg {
	margin-top: -35px;
	@mixin atMedium {
		margin-top: -50px;
	}
}
.top-section--body {
	margin-top: 20px;
	margin-bottom: 40px;

    @mixin atMedium {
	    position: absolute;
	    top: 40%;
	    transform: translateY(-50%);
	    left: 0;
	    width: 100%;
	    text-align: center;
	    margin: 20px 0 40px 0;
    }
   @mixin atLarge {
   		top: 45%;
   }
   @mixin atLaptop {
   		top: 60%;
   }
   @mixin atSmall {
   }
}
.top-section--text {
	color: #fefefe;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-top: -100px;
	h1 {
		font-size: 3rem;
		@mixin atSmall {
			color: #fefefe;
		}
		@mixin atMedium {
			color: #000;
			font-size: 4.2rem;
			font-weight: 300;
			margin-top: 100px;
			margin: 0.67em 0 0;
			padding-bottom: 1.6rem;
			span {
				font-weight: 700;
				font-size: 5rem;
			}
		}
	}
	p {
		font-size: 2.25rem;
		font-weight: 300;
		margin-top: 0;
    	margin-bottom: 1rem;
	}
	a {
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	@mixin atSmall {
		font-size: 0.8rem;
	}
}
.top-section--video {
	/*margin-top: 40px;*/
	max-width: 480px;
	margin: 0 auto;
	margin-bottom: -25px;
	text-align: center;

	video {
		width: 350px;
	}

	@mixin atLarge {
		max-width: 600px;
	}
	@mixin atMedium {
		margin-bottom: 100px;
		video {
			width: 100%;
		}
	}

}
