.navbar {
  margin-bottom: 0px;
  min-height: 95px; 
}
.navbar-brand {
  margin: 8px 0 0 0;
  padding: 0; 
}
.navbar-nav li a {
  line-height: 55px;
  font-size: 18px;
}
.navbar-nav .fa {
  margin-right: 0;
}
.nav>li>a {
  padding: 10px 10px;
}

@media (max-width: 1200px) { 
	.navbar-collapse {
		border: none;
	}
}