.section--title {
	text-align: center;
	h2 {
		font-size: 2.55rem;
		text-transform: uppercase;
	}
	@mixin atMedium {
		h2 {
			font-size: 3.5rem;
			text-transform: uppercase;
			font-weight: 800;
		}
		p {
			font-size: 1.6rem;
		}
	}
	&__green {
		color: #92ac76;
		text-transform: uppercase;
		@mixin atMedium {

		}
	}
	&__bg {
		padding-top: 20px;
	}
}
.section--subtitle {
	font-size: 0.9rem;
	@mixin atMedium {
		font-size: 3.9rem;
	}
}
.section--b-marg {
	margin-bottom: 20px;
}
.section--b-marg-lg {
	@mixin atMedium {
		padding-bottom: 40px;
	}	
}
.section--t-marg {

}