#starter-sets {
  background-color: #b2bcbb;
  /*margin-top: -35px;*/
  overflow: hidden;
  padding-top: 55px;
  padding-bottom: 3rem;
}
.feature-row {
  display: flex;
  overflow: hidden;
}
.feature {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    padding:  10px;
    height:  100%;
    min-height:  45vh;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #c8cfce;
}

.cont-p{
    font-size:60px;
    line-height:30px;
    font-weight:normal;
    display:table-cell;
    vertical-align:bottom;
    text-shadow: 1px 1px 1px #969696;
    padding-top:20px;
    margin: 0 auto;
}

.cont-p .p1{
    font-size:24px;
    line-height:26px;
    height:50px;
    float:left;
}

.cont-p .p2{
    font-size:60px;
    font-weight:bold;
    height:50px;
    line-height:50px;
    padding-left:2px;
    float:left;
}

.cont-p .p3{
    font-size:18px;
    font-weight:bold;
    line-height:22px;
    text-align:left;
    height:50px;
    padding-left:6px;
    float:left;
}

.cont-p .p4{
    font-size:13px;
    float:left;
}

.cont-c{
    color:#464646;      
    text-shadow: 0px 0px 0px;
}

a:hover .cont-c:hover{
    color:#215732;      
}

.c-price-title{
    font-family: 'Titillium Web', sans-serif;
    font-size:20px;
    color:#464646;
}

a:hover .c-price-title{
    color:#215732;
}
.price-list{
  font-size:15px;
  text-align:left;
  margin-top:15px;
}

.price-list li{
  line-height:25px;
  list-style:none;
}

.price-list li i{
  color:#7c7e7e !important;
  line-height:20px;
}

@media screen and (max-width: 768px) {
  .feature-row {
    display: block;
  }
}