#target-market {
	background-color: #3e3a30;
	border-bottom: 3px solid #a88d3d;
	padding: 4rem 0 3rem 0;
	text-align: center;
	position: relative;
	img {
		height: 125px;
		margin-left: 15px;
	}
	p {
		color: #92ac76;
		font-size: 1.6rem;
		text-align: center;
		padding-bottom: 15px;
		@mixin atMedium {
			font-size: 1.8rem;
		}
	}
	h3 {
		color: #92ac76;
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
		border-top: 2px solid #f3f3f3;
		border-bottom: 2px solid #f3f3f3;
		padding: 3px 0;
	}
	.target-market-item {
		p {
			font-size: 1.4rem;
		}
	}
}