#types-of-events {
	background: #fefefe;
	position: relative;
	.type-of-events {
		&--image {
			position: relative;
		}
		&--text {
			@mixin atMedium {
				border-radius: 10px;
				position: absolute;
				top: 50%;
		    	left: 50%;
		    	transform: translateX(-50%) translateY(-50%);
				background-color: rgba(231, 231, 231, 0.8);
				padding: 2rem;
			}
			@mixin atSmall {
				font-size: 14px;
				padding: 0;
			}
		}
	}
	.event-item-image {
		display: none;
		@mixin atMedium {
			display: block;
		}
	}
	.main-btn {
		padding: 10px 15px;
    	font-size: 1.5rem;
    	margin-bottom: 15px;
    	color: #215732;
        background: #f1f1f1;
        border-radius: 0;
        border: 2px solid #c0c0c0; 
        transition: background 2s, color 2s;
	}
	.main-btn:hover {
	    color: #f1f1f1;
	    background-color: #1C5633;
	    border: 2px solid #c0c0c0;
	} 
	.event-item {
		border-bottom: 1px solid #999;
	}
	.event-item:last-child {
		border: none;
	}

}
.feature-flex {
	@mixin atFlexCenter;
}
