#why {
	background: #6f8856;
	border-top: 3px solid #a88d3d;
	border-bottom: 3px solid #a88d3d;
	color: rgba(0, 0, 0, 0.8);
	z-index: 999;
	position: relative;
	@mixin atMedium {
		top: 35px;
	}
	@mixin atLarge {
		top: -10px;
		margin-bottom: -40px;
	}
	img {
		margin-right: 30px;
	}
	p {
		font-size: 1.5rem;

		@mixin atMedium {
			font-size: 1.8rem;
		}
	}
	.why-image {
		position: relative;
/*		display: none;*/
		@mixin atMedium {
			display: block;
			filter: opacity(90%);
		}
	}
	.why-text {

		@mixin atMedium {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translateX(-50%) translateY(-50%);
		    background-color: rgba(137, 137, 137, 0.6);
		}
	}
	.events-bg {
		text-align: center;
		@mixin atLarge {
			text-align: left;
			width: 800px;
			margin: 0 auto;
		}
		.why-event-item {

			@mixin atMedium {
				background-color: rgba(255, 255, 255, 0.5);
				padding: 1.6rem;
				border-radius: 50px;
				display: flex;
				flex: 1;
			}

		}
	}
}
.why-events-mobile {
	
	img {
		display: block;
	}
	display: block;
}

